@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    font-family: 'Roboto';
    background: linear-gradient(90deg, rgba(141, 194, 111, 1) 0%, rgba(118, 184, 82, 1));
}
.inner-row {
    height: 100vh;
}
.form-box {
    background: #ffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5%;
}
.register-form {
    display: none;
}